USE [master]
GO
/****** Object:  Database [QLVT]    Script Date: 6/3/2020 2:18:38 PM ******/
CREATE DATABASE [QLVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLVT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLVT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLVT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](4) NOT NULL,
	[CHINHANH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODT] [nchar](10) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MASODDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MASODDH] [nchar](8) NOT NULL,
	[NGAY] [datetime] NULL CONSTRAINT [DF_DATHANG_NGAY]  DEFAULT (getdate()),
	[NHACC] [nvarchar](100) NOT NULL,
	[MANV] [int] NULL,
	[MAKHO] [nchar](4) NULL,
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](4) NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NULL CONSTRAINT [DF_NHANVIEN_PHAI]  DEFAULT (N'NAM'),
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[LUONG] [bigint] NOT NULL CONSTRAINT [DF_NHANVIEN_LUONG]  DEFAULT ((5000000)),
	[GHICHU] [ntext] NULL,
	[TRANGTHAIXOA] [bit] NULL,
	[MACN] [nchar](4) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](8) NOT NULL,
	[MASODDH] [nchar](8) NOT NULL,
	[NGAY] [datetime] NULL CONSTRAINT [DF_PHIEUNHAP_NGAY]  DEFAULT (getdate()),
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [datetime] NULL CONSTRAINT [DF_PHIEUXUAT_NGAY]  DEFAULT (getdate()),
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NULL,
	[MAKHO] [nchar](4) NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTDDH] ([MASODDH], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'DH02    ', N'VT01', 15, 3000000)
INSERT [dbo].[CTDDH] ([MASODDH], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'DH02    ', N'VT02', 15, 5500000)
INSERT [dbo].[CTDDH] ([MASODDH], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'DH03    ', N'VT03', 5, 3000000)
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'PN01    ', N'VT01', 30, 100000)
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'PN01    ', N'VT02', 20, 100000)
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'PN01    ', N'VT03', 20, 10000)
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'PX01    ', N'VT01', 10, 1000000)
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'PX01    ', N'VT02', 10, 100000)
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'PX01    ', N'VT03', 30, 1000000)
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV], [MAKHO]) VALUES (N'DH01    ', CAST(N'2017-01-01 00:00:00.000' AS DateTime), N'SAMSUNG', 1, NULL)
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV], [MAKHO]) VALUES (N'DH02    ', CAST(N'2017-02-23 00:00:00.000' AS DateTime), N'Công ty TNHH MTV An Phú ĐÔng', 1, NULL)
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV], [MAKHO]) VALUES (N'DH03    ', CAST(N'2017-05-15 00:00:00.000' AS DateTime), N'Công ty Viễn Sơn', 2, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [GHICHU], [TRANGTHAIXOA], [MACN]) VALUES (1, N'NGUYỄN THỊNH', N'HÀO', N'NAM', N'11 Nguyễn Đình Chiểu, Quận 1', CAST(N'1968-01-01 00:00:00.000' AS DateTime), 15000000, N'', NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [GHICHU], [TRANGTHAIXOA], [MACN]) VALUES (2, N'LÊ THỊ', N'ÂN', N'NỮ', N'23 Lê Thánh Tôn , Quận 1, TPHCM', CAST(N'1971-02-02 00:00:00.000' AS DateTime), 17000000, N'', NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [GHICHU], [TRANGTHAIXOA], [MACN]) VALUES (3, N'TRẦN VĂN', N'SÁNG', N'NAM', N'48/1 Lê Lợi, Gò vấp TPHCM', CAST(N'1999-01-01 00:00:00.000' AS DateTime), 8000000, N'Hợp đồng thử việc', NULL, NULL)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MASODDH], [NGAY], [MANV], [MAKHO]) VALUES (N'PN01    ', N'DH01    ', CAST(N'2020-08-04 00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MASODDH], [NGAY], [MANV], [MAKHO]) VALUES (N'PN02    ', N'DH02    ', CAST(N'2020-08-04 00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MASODDH], [NGAY], [MANV], [MAKHO]) VALUES (N'PN03    ', N'DH03    ', CAST(N'2020-08-04 00:00:00.000' AS DateTime), 2, NULL)
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO]) VALUES (N'PX01    ', CAST(N'2017-12-23 00:00:00.000' AS DateTime), N'Lê An', 2, NULL)
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO]) VALUES (N'PX02    ', CAST(N'2017-12-24 00:00:00.000' AS DateTime), N'Hoàng Minh', 2, NULL)
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO]) VALUES (N'PX03    ', CAST(N'2018-01-01 00:00:00.000' AS DateTime), N'Vân ANh', 1, NULL)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'VT01', N'Iphone 6, màu trắng 64G', N'Cái', 40)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'VT02', N'Iphone 6S PLUS, màu hồng', N'Cái', 5)
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON]) VALUES (N'VT03', N'Ipad 3 4G Rentina của Apple', N'Cái', 10)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENVT]    Script Date: 6/3/2020 2:18:38 PM ******/
ALTER TABLE [dbo].[VATTU] ADD  CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DATHANG] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DATHANG] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DATHANG]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VATTU]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VATTU]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PHIEUXUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PHIEUXUAT]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VATTU]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_KHO]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_CHINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DATHANG] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DATHANG] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DATHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_KHO]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_CTPN_DONGIA]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_CTPN_SOLUONG]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [CK_CTPX_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_CTPX_DONGIA]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [CK_CTPX_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_CTPX_SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_LUONG] CHECK  (([LUONG]>=(5000000)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_LUONG]
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckMaVTisExist]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CheckMaVTisExist]
@MAVT nchar(4),
@LOAI nchar(2)
as
begin
	if exists (select 1 from VATTU as vt where vt.MAVT=@MAVT)
	begin
		if (@LOAI = 'PN')
		begin
			if exists (select 1 from CTPN as pn where pn.MAVT=@MAVT)
			begin 
				return 2; -- mã vt đã tồn tại
			end
		end
		if (@LOAI = 'PX')
		begin
			if exists (select 1 from CTPX as px where px.MAVT=@MAVT)
			begin 
				return 3; -- mã vt đã tồn tại
			end
		end
		return 0 -- no error 
	end	
	return 1; -- không tồn tại 		
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MAVT_DDH]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_MAVT_DDH]
@MaDDH NCHAR(8)
AS
BEGIN
	SELECT MAVT FROM dbo.CTDDH WHERE MasoDDH = @MaDDH
END
GO
/****** Object:  Trigger [dbo].[TR_AfterDelete_CTPN]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AfterDelete_CTPN]
	ON [dbo].[CTPN]
	AFTER DELETE
AS 
BEGIN
	UPDATE VATTU 
		SET SOLUONGTON = SOLUONGTON - (SELECT SOLUONG FROM deleted)
	WHERE MAVT = (SELECT MAVT from deleted)
END

GO
/****** Object:  Trigger [dbo].[TR_AfterInsert_CTPN]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[TR_AfterInsert_CTPN] 
   ON  [dbo].[CTPN] 
   AFTER INSERT 
AS 
BEGIN
	
    UPDATE VATTU
	 	SET SOLUONGTON= SOLUONGTON + (SELECT SOLUONG FROM inserted) 
    WHERE MAVT = (SELECT MAVT FROM inserted)

END

GO
/****** Object:  Trigger [dbo].[TR_AfterUpdate_CTPN]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AfterUpdate_CTPN] 
   ON [dbo].[CTPN]
   AFTER  UPDATE
AS 
BEGIN
	IF (UPDATE(MAVT))
		BEGIN
			UPDATE VATTU
				SET SOLUONGTON = SOLUONGTON - (SELECT SOLUONG FROM deleted)
			WHERE MAVT = (SELECT MAVT FROM deleted)

			UPDATE VATTU
				SET SOLUONGTON = SOLUONGTON + (SELECT SOLUONG FROM inserted)
			WHERE MAVT = (SELECT MAVT FROM inserted)
		END
	ELSE IF (UPDATE(SOLUONG))
		BEGIN
			UPDATE VATTU
				SET SOLUONGTON = SOLUONGTON - (SELECT SOLUONG FROM deleted) + (SELECT SOLUONG FROM inserted) 
			WHERE MAVT = (SELECT MAVT FROM inserted)
		END
	-- Trường hợp hiệu chỉnh field ???  sẽ ảnh hưởng tới số lượng tồn

END
GO
/****** Object:  Trigger [dbo].[TR_AfterDelete_CTPX]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AfterDelete_CTPX]
	ON [dbo].[CTPX]
	AFTER DELETE
AS 
BEGIN
	UPDATE VATTU 
		SET SOLUONGTON = SOLUONGTON + (SELECT SOLUONG FROM deleted)
	WHERE MAVT = (SELECT MAVT from deleted)
END

GO
/****** Object:  Trigger [dbo].[TR_AfterInsert_CTPX]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AfterInsert_CTPX]
ON [dbo].[CTPX]
AFTER INSERT
AS
BEGIN
	DECLARE @soLuongTon INT
	SELECT @soLuongTon = SOLUONGTON FROM VATTU AS vt ,inserted AS ins WHERE vt.MAVT = ins.MAVT
	
	IF(@soLuongTon < (SELECT SOLUONG FROM inserted))
		BEGIN
			RAISERROR (N'Số lượng tồn phải >= số lượng xuất!',16,16) WITH NOWAIT
			ROLLBACK TRAN
		END
	ELSE
		BEGIN
			UPDATE VATTU 
				SET SOLUONGTON = SOLUONGTON - (SELECT SOLUONG FROM inserted)
			WHERE MAVT = (SELECT MAVT FROM inserted)
		END
END

GO
/****** Object:  Trigger [dbo].[TR_AfterUPDATE_CTPX]    Script Date: 6/3/2020 2:18:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AfterUPDATE_CTPX]
	ON [dbo].[CTPX]
	AFTER UPDATE
AS 
BEGIN
	DECLARE @soLuongTon INT
	SELECT @soLuongTon = SOLUONGTON FROM VATTU AS vt ,inserted AS ins WHERE vt.MAVT = ins.MAVT

	IF(@soLuongTon < ((SELECT SOLUONG FROM inserted) - (SELECT SOLUONG FROM deleted)))
		BEGIN
			RAISERROR (N'Số lượng tồn phải >= số lượng xuất!',16,16) WITH NOWAIT
			ROLLBACK TRAN
		END
	ELSE
		BEGIN
			IF(UPDATE(MAVT))
				BEGIN
					-- Update số lượng tồn của MAVT mới
					UPDATE VATTU 
						SET SOLUONGTON = SOLUONGTON - (SELECT SOLUONG FROM inserted)
					WHERE MAVT = (SELECT MAVT FROM inserted)

					-- Trừ đi số lượng tồn của MAVT cũ
					UPDATE VATTU 
						SET SOLUONGTON = SOLUONGTON + (SELECT SOLUONG FROM deleted)
					WHERE MAVT = (SELECT MAVT FROM deleted)
				END
			ELSE IF(UPDATE(SOLUONG))
				
				BEGIN
					UPDATE VATTU
						SET SOLUONGTON = SOLUONGTON + (SELECT SOLUONG FROM deleted) - (SELECT SOLUONG FROM inserted)
					WHERE MAVT = (SELECT MAVT FROM inserted)
				END
		END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TÊN CÔNG TY, ĐẠI LÝ CUNG CẤP HÀNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DATHANG', @level2type=N'COLUMN',@level2name=N'NHACC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TÊN CÔNG TY, ĐẠI LÝ CUNG CẤP HÀNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEUNHAP', @level2type=N'COLUMN',@level2name=N'MAPN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TÊN CÔNG TY, ĐẠI LÝ CUNG CẤP HÀNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PHIEUXUAT', @level2type=N'COLUMN',@level2name=N'HOTENKH'
GO
USE [master]
GO
